:root {
  --branco: #ffffff;
  --azul-claro: #c9d6df; /* Azul vibrante com bom contraste */
  --azul-muito-claro: #E9F1F3; /* Usar Na Nav Bar */
  --vermelho-forte: #a83232; /* Vermelho com menor saturação */
  --cinza-escuro: #2c2c2c; /* Cinza escuro para maior contraste */
  --cinza-claro: #ececec; /* Cinza claro que mantém contraste */
  --cinza-medio: #b5b5b5; /* Cinza médio para fundos de seções */

  --fonte-link: #0056b3; /* Azul com contraste para links */
  --fonte-cinza: #4a4a4a; /* Cinza para textos */
  --borda-cabecalho-mobile: #0a2d3a; /* Azul escuro que combina com o tema */
  --bg-rodape: #1a1a1a; /* Fundo escuro para o rodapé */
  --bg-chamada-mobile: #00141a; /* Fundo para chamada em mobile */
  
  --cor-primaria: #001e2c; /* Cor base do logo */
  --azul-suave: #6c8a9a; /* Azul complementar, aplicado em fundos e seções */
  --cinza-suave: #d7e3e6; /* Cinza suave para contraste sutil */
  --gradiente-aplicacao: linear-gradient(45deg, #001e2c, #6c98a9); /* Gradiente para destaque visual */

  --montserrat: "Montserrat", sans-serif; /* Fonte primária */
}


body {
  font-family: var(--montserrat), sans-serif;
  background-color: #ececec;
}

.container {
  padding-right: 6%;
  padding-left: 6%;
}

.botao {
  text-align: center;

  display: block;

  width: 100%;
  max-width: 350px;

  box-sizing: border-box;

  padding: 1rem 2rem;
  border: 1px solid var(--branco);
}

@media screen and (min-width: 1024px) {
  .container {
    padding-left: calc((100% - 940px) / 2);
    padding-right: calc((100% - 940px) / 2);
  }
}
