.cabecalho__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: var(--azul-muito-claro); 
}

.cabecalho__logo {
  width: 20%;
  height: auto;
}

.cabecalho__navegacao ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cabecalho__link a {
  text-decoration: none;
  color: #0f0f0f; 
  font-size: 1.3rem;
  font-weight: bold;
  transition: color 0.3s;
}

.cabecalho__link a:hover {
  color: var(--vermelho-forte); 
}
