.contato {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  padding-top: 2rem;
  padding-bottom: 2rem;
}

.contato__titulo {
  color: var(--cinza-escuro);
  font-weight: 700;
  font-size: 1.5rem;
  font-family: var(--montserrat);
  text-transform: uppercase;
  text-align: center;

  margin-bottom: 1.25rem;
}

.contato__botao {
  display: inline-block;
  background-color: #0050ac;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 20px;
  padding: 15px 30px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.contato__botao:hover {
  background-color: #2b8ad8;
}

.form-label {
  font-size: 1.5rem;
  margin: 1rem;
}

.form-control {
  font-size: 1.5rem;
  padding: 3%;
}

.btn {
  width: 100%;
  margin: 2rem 0;
  padding: 2%;
}
