.conteudo {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.conteudo__titulo {
  color: var(--cinza-escuro);
  font-weight: 700;
  font-size: 1.5rem;
  font-family: var(--montserrat);
  text-transform: uppercase;
  text-align: center;

  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.conteudo__texto {
  line-height: normal;
  font-size: 1.25rem;
  text-align: justify;
  margin-bottom: 1rem;
}

.conteudo__lista {
  list-style: circle;
  margin: 2rem;
}

.conteudo__imagem {
  width: 100%;
  height: 50%;
}

@media screen and (min-width: 1024px) {
  .conteudo__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .conteudo__imagem {
    margin: 1rem 2rem;
  }
}
