.destaques__container {
  text-align: center;
  padding: 50px 0;
}

.destaques__titulo {
  padding: 20px;
  color: #0B0B0B;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
}

.destaques__painel {
  display: inline-block;
  text-align: center;
}

.destaques__painel-imagem {
  max-width: 60%;
  height: auto;
  border-radius: 15px;
  margin-bottom: 30px;
}

.destaques__painel-texto {
  color: #000;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.destaques__botao {
  display: inline-block;
  background-color: var(--vermelho-forte);
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 20px;
  padding: 15px 30px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.destaques__botao:hover {
  background-color: #870000;
}

.destaques__conteudo {
  padding: 20px;
  display: flex;
  align-items: flex-start; 
  gap: 20px; 
}

.destaques__video {
  flex: 1; 
  max-width: 30%; 
  height: auto; 
  border-radius: 10px;
  padding: 20px;
}

.destaques__texto {
  flex: 1; 
  max-width: 100%; 
  text-align: justify;
  font-size: 1.2rem;
  line-height: 1.2;
}


