.sobre {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.sobre__titulo {
  font-size: 2rem;
  font-weight: 600;
  color: var(--cor-primaria);
  margin-bottom: 1.5rem;
}

.sobre__texto {
  font-size: 1rem;
  color: #000;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  text-align: justify;
}

.sobre__integrantes {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

.sobre__integrantes li {
  font-size: 1.1rem;
  color: var(--azul-suave);
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.sobre__responsividade {
  color: #000;
  text-align: center;
  margin: 2rem 0;
}

.icons-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}

.resposta-icon {
  width: 50px;
  height: auto;
}

@media screen and (max-width: 768px) {
  .icons-container {
    gap: 1rem;
  }

  .resposta-icon {
    width: 40px;
  }
}
